* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
}

.Backgraound {
  background-image: url(https://github.com/BayuBramasta/Linktree-by-BayuBramasta/blob/main/image/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg?raw=true);
  background-size: cover;
  width: 105%;
  height: 105%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  margin: -16px -15px;
  position: fixed;
  padding: 0;
  transition: all 1s;
}
#gambar {
  width: 10%;
  height: 10%;
  border-radius: 100%;
  border: 5px;
  border-style: solid;
  border-color: white;
  box-shadow: 5px 5px 15px rgba(18, 18, 18, 1);
  transition: ease-in-out 1s;
}
#gambar:hover {
  width: 12%;
  height: 12%;
}
.container {
  text-align: center;
  justify-items: center;
  color: white;
  text-shadow: 3px 3px 15px rgba(18, 18, 18, 1);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
}
.buttons button {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border-color: transparent;
  border-radius: 15px;
  font-size: 28px;
  padding: 15px 30px;
  width: 700px;
  table-layout: fixed;
  text-decoration: none;
  box-shadow: 3px 3px 15px rgba(18, 18, 18, 1);
  transition: all 1s;
}
.buttons button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: lightgray;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 28px;
  padding: 15px 30px;
  width: 700px;
  text-align: center;
  box-shadow: 0px 0px 10px transparent;
  transition: all 1s;
}
a {
  text-decoration: none;
  justify-content: space-between;
}

/*icons setting*/
.fa-github {
  margin: 0 117px;
}
.fa-facebook {
  margin: 0 105px;
}
.fa-globe {
  margin: 0 75px;
}
.fa-instagram {
  margin: 0 107px;
}
/*Media queries*/

/*mobile*/
@media (max-width: 500px) {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
  }

  .Backgraound {
    background-image: url(../image/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-position: center;
    margin: -20px 0px;
    position: fixed;
    padding: 0;
    transition: all 1s;
  }
  #gambar {
    width: 15%;
    height: 15%;
    border-radius: 100%;
    border: 5px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 5px 15px rgba(18, 18, 18, 1);
    transition: ease-in-out 1s;
  }
  #gambar:hover {
    width: 17%;
    height: 17%;
  }
  .container {
    text-align: center;
    justify-items: center;
    color: white;
    text-shadow: 3px 3px 15px rgba(18, 18, 18, 1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
  }
  .buttons button {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border-color: transparent;
    border-radius: 15px;
    font-size: 18px;
    padding: 15px;
    width: 400px;
    box-shadow: 3px 3px 15px rgba(18, 18, 18, 1);
    transition: all 1s;
  }
  .buttons button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: lightgray;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 18px;
    padding: 15px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 10px transparent;
  }
  a {
    text-decoration: none;
    justify-content: space-between;
  }

  #deskripsi {
    color: #fff;
    font-weight: 500;
    margin: 5px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    font-size: 14px;
  }
  #heading {
    font-size: 24px;
  }
  /*icons setting*/
  .fa-github {
    margin: 0 53px;
  }
  .fa-facebook {
    margin: 0 40px;
  }
  .fa-globe {
    margin: 0 25px;
  }
  .fa-instagram {
    margin: 0 47px;
  }
}

/* iphone 14 pro max*/
@media (max-width: 430px) {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
  }

  .Backgraound {
    background-image: url(../image/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-position: center;
    margin: -20px 0px;
    position: fixed;
    padding: 0;
    transition: all 1s;
  }
  #gambar {
    width: 15%;
    height: 15%;
    border-radius: 100%;
    border: 5px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 5px 15px rgba(18, 18, 18, 1);
    transition: ease-in-out 1s;
  }
  #gambar:hover {
    width: 17%;
    height: 17%;
  }
  .container {
    text-align: center;
    justify-items: center;
    color: white;
    text-shadow: 3px 3px 15px rgba(18, 18, 18, 1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
  }
  .buttons button {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border-color: transparent;
    border-radius: 15px;
    font-size: 18px;
    padding: 15px;
    width: 350px;
    box-shadow: 3px 3px 15px rgba(18, 18, 18, 1);
    transition: all 1s;
  }
  .buttons button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: lightgray;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 18px;
    padding: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 0px 10px transparent;
  }
  a {
    text-decoration: none;
    justify-content: space-between;
  }

  #deskripsi {
    color: #fff;
    font-weight: 500;
    margin: 5px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    font-size: 14px;
  }
  #heading {
    font-size: 24px;
  }
  /*icons setting*/
  .fa-github {
    margin: 0 50px;
  }
  .fa-facebook {
    margin: 0 45px;
  }
  .fa-globe {
    margin: 0 25px;
  }
  .fa-instagram {
    margin: 0 47px;
  }
}
/*Samsung S20 ultra(412px)*/
@media (max-width: 412px) {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
  }

  .Backgraound {
    background-image: url(../image/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-position: center;
    margin: -20px 0px;
    position: fixed;
    padding: 0;
    transition: all 1s;
  }
  #gambar {
    width: 15%;
    height: 15%;
    border-radius: 100%;
    border: 5px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 5px 15px rgba(18, 18, 18, 1);
    transition: ease-in-out 1s;
  }
  #gambar:hover {
    width: 17%;
    height: 17%;
  }
  .container {
    text-align: center;
    justify-items: center;
    color: white;
    text-shadow: 3px 3px 15px rgba(18, 18, 18, 1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
  }
  .buttons button {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border-color: transparent;
    border-radius: 15px;
    font-size: 18px;
    padding: 15px;
    width: 300px;
    box-shadow: 3px 3px 15px rgba(18, 18, 18, 1);
    transition: all 1s;
  }
  .buttons button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: lightgray;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 18px;
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px transparent;
  }
  a {
    text-decoration: none;
    justify-content: space-between;
  }

  #deskripsi {
    color: #fff;
    font-weight: 500;
    margin: 5px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    font-size: 14px;
  }
  #heading {
    font-size: 24px;
  }
  /*icons setting*/
  .fa-github {
    margin: 0 39px;
  }
  .fa-facebook {
    margin: 0 30px;
  }
  .fa-globe {
    margin: 0 11px;
  }
  .fa-instagram {
    margin: 0 30px;
  }
}

